<template>
  <div :class="[taskOpen]">
    <div class="task__heading">
      <div class="check">
        <input
          type="checkbox"
          :class="[innerTask.FINISH ? 'selected' : 'noselected']"
          :checked="innerTask.FINISH"
          @change="changeTaskStatus"
        >
      </div>
      <div class="task__title"  @click="open = !open">
        <span>{{ innerTask.TITLE }}</span>
      </div>
      <div class="completed"  @click="open = !open"></div>
      <div class="activator" v-if="innerTask.CHILDS.length"  @click="open = !open"></div>
    </div>
    <div 
      :class="['task__childs', open ? 'task__childs--open' : 'task__childs--close']"
      v-if="innerTask.CHILDS.length && open"
    >
      <task 
        v-for="(catTask, taskIndex) in innerTask.CHILDS" :key="taskIndex" :innerTask="catTask"></task>
    </div>
  </div>
</template>

<script src="./task.js"></script>
<style src="./task.scss" lang="scss"></style>
