@import '@/assets/scss/base.scss';

.task {
  
  .task {
    padding-left: #{$task_padding_left * 2}; 
  }
}

.task__heading {
  padding: 1vh 0;
  padding-left: $task_padding_left;  
  display: flex;
  vertical-align: center;
  height: auto;
  padding-bottom: 10px;
  padding-top: 20px;
  border-left: 1px solid $base_white;
  border-top: 1px solid $base_white;
  border-top-width: 0%;
  transition: all 0.35s;

  &:hover {
    border-left-color: $base_color;
    border-top-color: $base_color;

    .activator {
      opacity: 1;
    }
  }

  .check {
    width: 3%;

    input[type="checkbox"] {
      margin-top: -2px;
      -webkit-appearance: none;
      background-color: $base_white;
      border: 1px solid $base_color;
      padding: 0.8em;
      transition: background-color 0.35s;

      &:checked {
        background-color: $base_color;
        color: $base_white;
      }
    }
  }
  .task__title {
    width: 90%;
  }
  .completed {
    width: 6%;
  }
  .activator {
    width: 3px;
    opacity: 0;
    transition: opacity 0.35s;

    &::before {
      content: "\25B6";
      color: black;
      display: inline-block;
      margin-right: 6px;
      transform: rotate(90deg); 
    }
  }

  .task__childs {
    transform: scaleY(0);
    transition: transform 1s;
  }
  .task__childs--open {
    transform: scaleY(1);
  }
}