
// -- Color
$base_color: #333;
$base_color_inverted: white;
$base_white: white;

// categories_aside
$category_aside_width: 15vw;

// waterfall
$waterfall_margin_x: 3vw;

// task
$task_padding_left: 1vw;

html.dark {
  $base_white: #333;
  $base_color: white
}