<template>
  <div id="waterfall">
    <div 
      v-for="(categoryTasks, category, catIndex) in tasks_by_category"
      :key="catIndex"
      :id="`anchor_${category}`"
      class="tasks_container"
    >
      <div class="category__title">
        <h2>{{ category }}</h2>
        <hr class="category_sep"/>
      </div>
      <task
        v-for="(catTask, taskIndex) in categoryTasks"
        :key="taskIndex"
        :innerTask="catTask"
      ></task>
    </div>
  </div>
</template>

<script src="./waterfall.js"></script>
<style src="./waterfall.scss" lang="scss"></style>
