@import '@/assets/scss/base.scss';

#waterfall {
  position:  relative;
  display: inline-block;
  width: calc(100vw - #{$category_aside_width});
  margin-left: $waterfall_margin_x;
  padding-right: $waterfall_margin_x;
  padding-bottom: 10vh;
  height: inherit;
  overflow-y: auto;

  .tasks_container {
    padding-top: 5vh;
    margin-bottom: 5vh;

    .category__title {
      margin: 2em 0;
      font-style: oblique;
  
      h2 {
        padding-bottom: 1vh;
      }
    }
  }
}