@import '@/assets/scss/base.scss';

#category_aside {
  position:  relative;
  display: inline-block;
  width: $category_aside_width;
  height: inherit;
  border-right: 2px solid $base_color;
  text-align: center;

  .total_percent {
    border-bottom: 2px solid $base_color;
    padding: 1vh 0;

    & > span {
      font-size: 5em;
      &::after {
        content: '%';
        font-size: 0.5em;
      }
    }
  }
  .category {
    width: auto;
    padding: 20px 0px;
    font-size: 1.2em;
    color: $base_color;
    transition: background-color 0.35s;

    &:hover {
      color: $base_color_inverted;
      background-color: $base_color;
    }
  }
}