<template>
  <div id="category_aside">
    <div class="total_percent">
      <span>{{ totalPercent }}</span>
    </div>
    <ul class="categories">
      <li 
        v-for="(cat, index) in categories" 
        :key="index" 
        class="category"
        @click.prevent="moveToCategory(cat)"
      >
        {{ cat }}
      </li>
    </ul>
  </div>
</template>

<script src="./categoryAside.js"></script>
<style src="./categoryAside.scss" lang="scss"></style>
