<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
    name:'App',
    data() {
      return {

      }
    },
    mounted() {
      if (this.$store) {
        this.$store.dispatch('MAIN_FETCH')
      }
    }
  }
</script>

<style lang="scss">
  @import '@/assets/scss/base.scss';
  @import '@/assets/scss/general.scss';

  @import url('https://fonts.googleapis.com/css?family=Roboto:400,300,700,900');

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
  }
  #app {
    font-family:'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $base_color;
    width: 100vw;
    height: 100vh;
  }
</style>
